<h3>Home</h3>

<p>Velkommen til hjemmesiden til <%= @owner.name %>.</p>
<p>Donald Trump ble valgt til president i USA <%= @owner.birthdate %>.</p>
<p>Om <%= @owner.countdown %> dager er det valg i USA igjen. </p>