<% content_for :title do %>About<% end %>
<h3>Om siden</h3>
<p>Denne siden er utviklet. For at denne siden skal se fornuftig ut er det viktig å ha en passe mengde tekst. Dette er tekst. Siden form er viktigere enn innhold her er det bare å ta i bruk floskler. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p>Dette er et avsnitt. Les mer:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>